.img1{
    width: 450px;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 0px;
    float: left;
}

.artigo1{
    font-size: 45px;
    text-align: left;
    padding: 25px;
}
 
.secundaria{
    color: rgb(146, 143, 143);
    font-size: 25px;
    text-align: left;
}

.site{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.art1{
    margin-top: 0px;
    margin-bottom: 150px;
    margin-left: 0px;
    margin-right: 0px;
    
}

.vidio{
    width: 560px;
    height: 315px;
    margin-left: 25%;
    margin-right: 30%;
    border: groove 30px #4ABDAC;
    margin-top: 10px;
    margin-bottom: 60px;
}

#texto{
    font-size: 30px;
    text-align: center;
}
